/* Button */

.btn {
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background: rgb(70, 113, 179);
  color: white;
}

.btn-success {
  background: rgb(114, 207, 114);
}

.btn-danger {
  background: rgb(202, 81, 81);
}

.small-btn {
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

/* Input */

.input {
  border: none;
  background: none;
  border-bottom: 1px solid rgb(202, 200, 200);
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 15px;
  outline: none;
  color: white;
  padding-left: 2px;
  padding-bottom: 5px;
}

input::placeholder {
  color: white;
}

/* Alert */

.alert {
  width: 100%;
  background: crimson;
  padding: 5px;
  border-radius: 2px;
  margin-top: 30px;
}
