/********************** Imports **********************/

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

/********************** Globals **********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Barlow Condensed", sans-serif;
  color: rgb(215, 215, 215);
}

#root {
  height: 100%;
}

body,
html {
  background: #0b132b;
  height: 100%;
  width: 100%;
}

.center-form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  display: flex;
  width: 70%;
  height: 50%;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  position: relative;
  animation: slideInFromLeft 0.5s;
  animation-fill-mode: forwards;
}

.form-card .form-image,
.form-card .form-form {
  flex: 1;
}

.form-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #172037;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-form form {
  width: 80%;
}

.form-image {
  background: url("https://w.wallhaven.cc/full/wy/wallhaven-wy18ep.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-image:hover {
  filter: brightness(1.8);
  font-size: 1.4rem;
}

.form-image h2 {
  color: white;
  font-weight: 100;
}

/********************** Notifications **********************/

.notification {
  position: absolute;
  top: 15px;
  right: 5px;
  border-radius: 5px;
  background: rgb(99, 126, 99);
  padding: 10px;
  color: white;
  animation: slideInFromRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/********************** Navigation bar **********************/

.navBar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}

/********************** Dashboard layout **********************/

.dashboard-container {
  display: flex;
  height: 100%;
}

.dashboard-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
}

.dashboard-left .logo {
  font-size: 2rem;
}

.dashboard-right {
  flex: 8;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-right .dashboard-right-upper {
  flex: 1;
}

.dashboard-right .dashboard-right-lower {
  flex: 8;
}
