@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Open Sans Condensed", sans-serif;
}

#root {
  height: 100%;
}

body,
html {
  background: #192535;
  height: 100%;
  width: 100%;
}

.center-form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  display: flex;
  width: 70%;
  height: 50%;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  position: relative;
  animation: slideInFromLeft 0.5s;
  animation-fill-mode: forwards;
}

.form-card .form-image,
.form-card .form-form {
  flex: 1;
}

.form-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09428d;
}

.form-form form {
  width: 80%;
}

.form-image {
  background: url("https://w.wallhaven.cc/full/6o/wallhaven-6oqzgq.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.form-image:hover {
  filter: brightness(1.4);
}

.form-image h2 {
  color: white;
  font-weight: 100;
}

/********************** Notifications **********************/

.notification {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  background: rgb(99, 126, 99);
  padding: 10px;
  color: white;
  animation: slideInFromRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

/********************** Navigation bar **********************/

.navBar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}
